services:
    php:
        image: ${IMAGE_PREFIX:-ghcr.io/un-zero-un/1z1-consent}:${IMAGE_TAG:-latest}
        depends_on: [ gotenberg ]
        build:
            target: php
            args:
                EXTERNAL_USER_ID: ${EXTERNAL_USER_ID:-33}
        environment:
            MAIN_DOMAIN: ${MAIN_DOMAIN:-localhost}
            SERVER_NAME: ${SERVER_NAME:-localhost, *.localhost}
            APP_SECRET: ${APP_SECRET:-!ChangeMe!}
            MAILER_DSN: ${MAILER_DSN:-smtp://smtp:1025}
            DATABASE_URL: ${DATABASE_URL:-postgres://${POSTGRES_USER:-1z1-consent}:${POSTGRES_PASSWORD:-1z1-consent}@database:5432/${POSTGRES_DB:-1z1-consent}?serverVersion=17&charset=utf8}
            AUTHORIZED_ADMIN_EMAIL_DOMAINS: ${AUTHORIZED_ADMIN_EMAIL_DOMAINS:-}
            EMAIL_FROM_ADDRESS: ${EMAIL_FROM_ADDRESS:-"1z1 Consent <consent@un-zero-un.net>"}
            GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID:-}
            GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET:-}
            APP_ENV: ${APP_ENV:-prod}
            DNT_ENABLED: ${DNT_ENABLED:-1}
        volumes:
            - caddy_data:/data
            - caddy_config:/config
        ports:
            -   target: 80
                published: ${HTTP_PORT:-80}
                protocol: tcp
            -   target: 443
                published: ${HTTPS_PORT:-443}
                protocol: tcp
            -   target: 443
                published: ${HTTP3_PORT:-443}
                protocol: udp

    gotenberg:
        image: gotenberg/gotenberg:8

volumes:
    caddy_data:
    caddy_config:
