{% extends ea.templatePath('layout') %}

{% block main %}
    <div>
        <a href="{{ ea_url().setAction('viewPDFRegister') }}">
            Voir en PDF
        </a>
    </div>
    <div>
        {{ include('admin/client/_register.html.twig', {client: client, website_treatments: website_treatments}, with_context: false) }}
    </div>
{% endblock %}
