<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Registre RGPD</title>
</head>
<body>
    {{ include('admin/client/_register.html.twig', {client: client}, with_context: false) }}
</body>
</html>
