{% extends 'admin/reset_password/base.html.twig' %}

{% form_theme reset_form '@EasyAdmin/symfony-form-themes/bootstrap_5_layout.html.twig' %}

{% block page_title %}Modifier le mot de passe{% endblock %}

{% block box_body %}
    {{ form_start(reset_form) }}
        {{ form_row(reset_form.plainPassword) }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Modifier le mot de passe</button>
        </div>
    {{ form_end(reset_form) }}
{% endblock %}
